[submodule "anon-kode"]
	path = anon-kode
	url = https://github.com/fankaidev/anon-kode
	branch = study
[submodule "aider"]
	path = aider
	url = https://github.com/fankaidev/aider
	branch = test
[submodule "cline"]
	path = cline
	url = https://github.com/fankaidev/cline
	branch = cline-test
[submodule "Roo-Code"]
	path = Roo-Code
	url = git@github.com:RooVetGit/Roo-Code.git
[submodule "codex"]
	path = codex
	url = org-14957082@github.com:openai/codex.git
